.about-school {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background: radial-gradient(circle at top,
            #0f172a00,
            #0206176c);

    color: #e5e7eb;
   
}

.about-container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;
    align-items: center;
}

.about-image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(99, 102, 241, 0.4);
}

.about-content h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 10px;
    background: linear-gradient(135deg, #fff, #c7a6ff, #7fd9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 1.1rem;
    opacity: 0.9;
}

.about-content p {
    line-height: 1.8;
    margin-bottom: 16px;
}



@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}